h1 {
  font-size: 4rem;
  text-align: center;
}
#horseFrame {
  border: 2px solid black;
  width: 146px;
  height: 90px;
  /* background-image: url("./fr1.jpg"); */
  animation-name: animateRun;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#doremon {
  position: absolute;
  left: 0;
  animation-name: animatemove;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
  animation-delay: 5s;
}
sup {
  font-weight: 300;
  background-color: yellow;
  border-radius: 5555px;
  padding: 10px;
  font-size: 1.5rem;
  animation: changecolor 1s 2s infinite;
  ani
}

@keyframes animateRun {
  0% {
    background-image: url("./fr1.jpg");
  }
  12.5% {
    background-image: url("./fr2.jpg");
  }
  25% {
    background-image: url("./fr3.jpg");
  }
  37.5% {
    background-image: url("./fr4.jpg");
  }
  50% {
    background-image: url("./fr5.jpg");
  }
  62.5% {
    background-image: url("./fr6.jpg");
  }
  75% {
    background-image: url("./fr7.jpg");
  }
  87.5% {
    background-image: url("./fr8.jpg");
  }
  100% {
    background-image: url("./fr9.jpg");
  }
}

@keyframes changecolor {
  0% {
    color: red;
  }
  100% {
    color: blue;
  }
}
